h1 {
	font-size: 28px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

header, section {
	padding: 10px;
}

th {
	font-weight: bold;
}

th, td {
	padding: 10px;
}




.main.container {
	margin-top: 75px;
}

.footer {
	margin: 50px 0 25px 0;
	text-align: center;
}


/* homepage */
.jumbotron {
	background-image: url('http://graphics8.nytimes.com/images/2012/12/19/dining/19TAMALES1_SPAN/19TAMALES1-superJumbo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 60%;
}

.jumbotron {
	color: red;
}


.prod_img {
	max-width: 85%;
}


.admin_nav {
	float: left;
}

#login_page {
	width: 400px;
	margin: 0 auto;
}

.login_status {
	float: right;
	padding: 10px 15px;
}

.admin_nav li {
	float: left;
	list-style: none;
	margin: 0 0 0 15px;
}

.btn.view-details {
	margin: 10px 0 0 0;
}

/* product page */


section#product-detail h3 {
	margin: 0 0 10px 0;
	font-weight: bold;
	font-size: 18px;
}

section#product-detail .description {
	margin: 20px 0 0 0;
}

section#product-detail p.price {
	margin: 10px 0 10px 0;
	font-weight: bold;
	font-size: 16px;
}

section#product-detail .add-to-cart {
	display: block;
	margin: 15px 0 0 0;
}

/* cart  */

.cart-item {
	margin: 10px 0 0 0;
	border-bottom: 1px solid gray;
}

.cart-item h3 {
	margin: 0 0 0 0;
}

.cart-image {
	width: 100px;
	margin: 0 10px 10px 0;
}

.item-total {
	text-align: right;
	font-size: 18px;
	font-weight: bold;	
}

.total {
	text-align: right;
	margin: 0 0 0 0;
}

.amount {
	font-size: 22px;
	font-weight: bold;
}

.place-order .amount {
	width: 110px;
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
}

.place-order .cart-item {
	padding-bottom: 15px;
}

/*
section#employees .add_employee {
	width: 200px;
	float: right;
	margin: 20px 0 10px 0;
}

section#products .view_categories {
	float: left;
	margin: 22px 0 0 0;
}

section#products h2 {
	width: 240px;
	float: left;
}
section#products .add_products {
	width: 200px;
	float: right;
	margin: 20px 0 10px 0;
}

#addCategoryForm ol.current_cats  {
	padding: 0;
}

#addCategoryForm ol.current_cats li {
	float: left;
	margin: 0 5px 0 20px;
}

#employee_list {
	margin-top: 10px;
}

#employee_list th {
	text-align: left;
}

*/





















