

h1 {
	font-size: 28px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

header, section {
	padding: 10px;
}

th {
	font-weight: bold;
}

th, td {
	padding: 10px;
}

#main_wrapper {
	max-width: 900px;
	margin: 15px auto 15px auto;
}

.admin_nav {
	float: left;
}

#login_page {
	width: 400px;
	margin: 0 auto;
}

.login_status {
	float: right;
	padding: 10px 15px;
}

.admin_nav li {
	float: left;
	list-style: none;
	margin: 0 0 0 15px;
}

section#employees h2 {
	width: 200px;
	float: left;
}
section#employees .add_employee {
	width: 200px;
	float: right;
	margin: 20px 0 10px 0;
}

section#products .view_categories {
	float: left;
	margin: 22px 0 0 0;
}

section#products h2 {
	width: 240px;
	float: left;
}
section#products .add_products {
	width: 200px;
	float: right;
	margin: 20px 0 10px 0;
}

#addCategoryForm ol.current_cats  {
	padding: 0;
}

#addCategoryForm ol.current_cats li {
	float: left;
	margin: 0 5px 0 20px;
}

#employee_list {
	margin-top: 10px;
}

#employee_list th {
	text-align: left;
}





















